<div id="header">
  <p><%= link_to "All Produce", "/products" %></p>
  <p><%= link_to "All Farms", "/farms" %></p>
</div>

<h1>Farms</h1>

<% @farms.each do |farm| %>
  <p><%= farm.name %></p>
<% end %>

