<h1>All Produce</h1>

<% @products.each do |product| %>
  <h2><%= product.name %></h2>
  <%= link_to "Edit Info For #{product.name}", "/products/#{product.id}/edit" %>
  <% if product.fruit == true && product.seeds == false %>
    <p>Seedless Fruit</p>
  <% elsif product.fruit == true %> 
    <p>Fruit with seeds</p>
  <% else %>
    <p>Vegetable</p>
  <% end %>
  <p>Cost: $<%= product.cost_per_pound %> per pound</p>
  <p>Grown at <%= product.farm.name %></p>
<% end %>